/*BACK COLOR*/
.bg-red{background: #EF3D59; color: #000000;}
.bg-orange{background: #E17A47; color: #FFFFFF;}
.bg-yellow{background: #EFC958; color: #000000;}
.bg-lightblue{background: #4AB19D}
.bg-darker{background: #111;color: #EFC958;}
/*TEXT COLOR*/
.text-red{color:#EF3D59}
.text-orange{color:#E17A47}
.text-yellow{color:#EFC958}
.text-lightblue{color:#4AB19D}
.text-darker{color:#111}


{}{}{}
